{
  "singleQuote": true,
  "semi": false,
  "printWidth": 100,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./apps/web/app/globals.css",
  "overrides": [
    {
      "files": "*.md",
      "options": { "printWidth": 88, "proseWrap": "preserve" }
    }
  ]
}
